<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <h2>STUDENTS</h2>
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Student Registration Form</h3>
                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="studentName" class="form-label">Student ID</label>
                                        <input type="text" class="form-control form-control-lg" id="studentId" name="studentId"/>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="studentName" class="form-label">Student Name</label>
                                        <input type="text" class="form-control form-control-lg" id="studentName" name="studentName" required/>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <h6 class="mb-2 pb-1">Gender: </h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="female" value="female" checked/>
                                        <label class="form-check-label" for="female">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="male" value="male"/>
                                        <label class="form-check-label" for="male">Male</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" id="createStudentBtn" value="Create" />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" id="updateStudentBtn" value="Update" />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" id="deleteStudentBtn" value="Delete" />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" id="deactivateStudentBtn" value="Deactivate" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<table id="studentsTable" class="display dataTable" style="width:100%"></table>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <h2>COURSE</h2>
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Course Registration Form</h3>
                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="courseId" class="form-label">Course ID</label>
                                        <input type="text" class="form-control form-control-lg" id="courseId" name="courseId"/>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="courseName" class="form-label">Course Name</label>
                                        <input type="text" class="form-control form-control-lg" id="courseName" name="courseName" required/>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" id="creatCourseBtn" value="Create" />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" id="deleteCourseBtn" value="Delete" />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" id="updateCourseBtn" value="Update" />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="submit" id="deactivateCourseBtn" value="Deactivate" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<table id="courseTable" class="display dataTable" style="width:100%"></table>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <h2>SEARCH COURSE BY ID</h2>
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Studend Course Form</h3>
                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline datepicker w-100">
                                        <label for="findById" class="form-label">Course ID</label>
                                        <input type="text" class="form-control form-control-lg" id="findById" name="courseId" required/>
                                    </div>
                                </div>

                                <div class="col-md-2 mb-4">
                                    <div class="mt-4 pt-2">
                                        <input class="btn btn-primary btn-lg" type="button" id="findCourseBtn" value="Find Course" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<table id="studentCourseTable" class="display dataTable" style="width:100%"></table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    //STUDENTS
    //RETRIEVE
    const api_url = "http://localhost:8080/students";
    fetch(api_url)
        .then((data) => data.json())
        .then((data) => data.map((d) => Object.values(d)))
        .then((data) => {
        $('#studentsTable').DataTable({
            data,
            columns: [
                { title: "Student ID" },
                { title: "Student Name" },
                { title: "Gender" },
                { title: "Active" }
            ]
        });
    })

    //CREATE
    $("#createStudentBtn" ).click(()=> {
        const studentName = $("#studentName").val();
        const gender = $('input[name=inlineRadioOptions]:checked').val();

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "studentName": studentName,
            "gender": gender
        });

        const requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://localhost:8080/students", requestOptions)
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    });

    //UPDATE
    $( "#updateStudentBtn" ).click(()=> {
        const studentId = $("#studentId").val();
        const studentName = $("#studentName").val();
        const gender = $('input[name=inlineRadioOptions]:checked').val();

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "studentName": studentName,
            "gender": gender
        });

        const requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://localhost:8080/students/" + studentId, requestOptions)
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    });


    //DELETE
    $( "#deleteStudentBtn" ).click(()=> {
        const studentId = $("#studentId").val();

        const requestOptions = {
            method: 'DELETE',
            redirect: 'follow'
        };

        fetch("http://localhost:8080/students" + studentId, requestOptions)
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    });

    //UPDATE ACTIVE STATUS
    $( "#deactivateStudentBtn" ).click(() => {
        const studentId = $("#studentId").val();
        const active = false;

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "active": active
        });

        const requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://localhost:8080/students/deactivate/" + studentId, requestOptions)
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    });

    // COURSE
    // RETRIEVE
    const api_url_course = "http://localhost:8080/course";
    fetch(api_url_course)
        .then((data) => data.json())
        .then((data) => data.map((d) => Object.values(d)))
        .then((data) => {
            $('#courseTable').DataTable({
                data,
                columns: [
                    { title: "Course ID" },
                    { title: "Course Name" },
                    { title: "ACTIVE" }
                ]
            });
        })

    //CREATE
    $( "#creatCourseBtn" ).click(() => {
        const courseId = $("#courseId").val();
        const courseName = $("#courseName").val();

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "courseName": courseName,
        });

        const requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://localhost:8080/course", requestOptions)
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    });

    //UPDATE
    $( "#updateCourseBtn" ).click(() => {
        const courseId = $("#courseId").val();
        const courseName = $("#courseName").val();

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "courseName": courseName,
        });

        const requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://localhost:8080/course/" + courseId, requestOptions)
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    });

    //DELETE
    $( "#deleteCourseBtn" ).click(() => {
        const courseId = $("#courseId").val();

        const requestOptions = {
            method: 'DELETE',
            redirect: 'follow'
        };

        fetch("http://localhost:8080/course/" + courseId, requestOptions)
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    });

    //UPDATE ACTIVE STATUS
    $( "#deactivateCourseBtn" ).click(() => {
        const courseId = $("#courseId").val();
        const active = false;

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "active": active,
        });

        const requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://localhost:8080/course/deactivate/" + courseId, requestOptions)
            .then(response => response.json())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    });

    //Enroll student By Course ID
    $("#findCourseBtn").click(() => {
        const courseId = $("#findById").val();
        const requestOptions = {
            method: 'GET'
        };

        fetch("http://localhost:8080/studentCourse/" + courseId, requestOptions)
            .then((data) => data.json())
            .then((data) => data.map((d) => Object.values(d)))
            .then((data) => {
                $('#studentCourseTable').DataTable({
                    data,
                    columns: [
                        { title: "Student ID" },
                        { title: "Student Name" },
                        { title: "Gender" },
                        { title: "Active" }
                    ]
                });
            })
        .catch((err) => console.error(err))
    });
</script>
</body>
</html>